<?xml version="1.0"?>

<launch>
   <!-- frames init -->
   <arg name="camera" value="camera" />
   <include file="$(find youbot_camera)/launch/youbot_frames.launch">
      <arg name="camera" value="$(arg camera)"/>
   </include>

   <!-- camera init -->
   <include file="$(find openni2_launch)/launch/openni2.launch">
      <arg name="depth_registration" value="true" />
   </include>

  <!-- Choose visualization -->
  <arg name="rviz"                    default="true" />
  <arg name="rtabmapviz"              default="false" />

  <!-- Localization-only mode -->
  <arg name="localization"            default="false"/>

  <!-- Corresponding config files -->
  <arg name="rtabmapviz_cfg"          default="~/.ros/rtabmap_gui.ini" />
  <arg name="rviz_cfg"                default="$(find rtabmap_ros)/launch/config/rgbd.rviz" />

  <arg name="frame_id"                default="base_footprint"/>   <!-- Fixed frame id, you may set "base_link" or "base_footprint" if they are published -->
  <arg name="database_path"           default="~/.ros/rtabmap.db"/>
  <arg name="args"                    default="--delete_db_on_start"/>              <!-- delete_db_on_start, udebug -->
  <arg name="launch_prefix"           default=""/>              <!-- for debugging purpose, it fills launch-prefix tag of the nodes -->
  <arg name="approx_sync"             default="true"/>         <!-- if timestamps of the input topics are not synchronized -->

  <arg name="rgb_topic"               default="/camera/rgb/image_rect_color" />
  <arg name="depth_registered_topic"  default="/camera/depth_registered/image_raw" />
  <arg name="camera_info_topic"       default="/camera/rgb/camera_info" />
  <arg name="compressed"              default="false"/>

  <arg name="subscribe_scan"          default="false"/>         <!-- Assuming 2D scan if set, rtabmap will do 3DoF mapping instead of 6DoF -->
  <arg name="scan_topic"              default="points"/>

  <arg name="subscribe_scan_cloud"    default="true"/>         <!-- Assuming 3D scan if set -->
  <arg name="scan_cloud_topic"        default="/camera/depth/points"/>

  <arg name="visual_odometry"         default="true"/>          <!-- Generate visual odometry -->
  <arg name="odom_topic"              default="/odom"/>         <!-- Odometry topic used if visual_odometry is false -->
  <arg name="odom_frame_id"           default="odom"/>              <!-- If set, TF is used to get odometry instead of the topic -->

  <arg name="namespace"               default="rtabmap"/>
  <arg name="wait_for_transform"      default="1"/>

  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <arg name="stereo"                  value="false"/>

    <arg name="rtabmapviz"              value="$(arg rtabmapviz)" />
    <arg name="rviz"                    value="$(arg rviz)" />
    <arg name="localization"            value="$(arg localization)"/>
    <arg name="gui_cfg"                 value="$(arg rtabmapviz_cfg)" />
    <arg name="rviz_cfg"                value="$(arg rviz_cfg)" />

    <arg name="frame_id"                value="$(arg frame_id)"/>
    <arg name="namespace"               value="$(arg namespace)"/>
    <arg name="database_path"           value="$(arg database_path)"/>
    <arg name="wait_for_transform"      value="$(arg wait_for_transform)"/>
    <arg name="args"                    value="$(arg args)"/>
    <arg name="launch_prefix"           value="$(arg launch_prefix)"/>
    <arg name="approx_sync"             value="$(arg approx_sync)"/>

    <arg name="rgb_topic"               value="$(arg rgb_topic)" />
    <arg name="depth_topic"             value="$(arg depth_registered_topic)" />
    <arg name="camera_info_topic"       value="$(arg camera_info_topic)" />
    <arg name="compressed"              value="$(arg compressed)"/>

    <arg name="subscribe_scan"          value="$(arg subscribe_scan)"/>
    <arg name="scan_topic"              value="$(arg scan_topic)"/>

    <arg name="subscribe_scan_cloud"    value="$(arg subscribe_scan_cloud)"/>
    <arg name="scan_cloud_topic"        value="$(arg scan_cloud_topic)"/>

    <arg name="visual_odometry"         value="$(arg visual_odometry)"/>
    <arg name="odom_topic"              value="$(arg odom_topic)"/>
    <arg name="odom_frame_id"           value="$(arg odom_frame_id)"/>
    <arg name="odom_args"               value="$(arg args)"/>
  </include>

   <!-- <param name="T" type="double" value="0.2"/>
   <param name="dt" type="double" value="0.1"/>
   <node pkg="youbot_navigation_common" type="lowpass_filter" respawn="false" name="lowpass_filter" output="screen"></node> -->

   <arg name="base_frame_id"   default="base_footprint"/>
   <arg name="global_frame_id" default="map"/>

   <!-- for moving -->
   <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
         <!-- Load common configuration files -->
   <remap from="cmd_vel" to="move_base/cmd_vel"/>
         <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> -->
         <rosparam file="$(find youbot_camera)/cfg/move_base_params.yaml" command="load" />
         <rosparam file="$(find youbot_camera)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
         <rosparam file="$(find youbot_camera)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />

         <rosparam file="$(find youbot_camera)/cfg/local_costmap_params.yaml" command="load" />
         <rosparam file="$(find youbot_camera)/cfg/dwa_local_planner_params.yaml" command="load" ns="DWAPlannerROS"/>

         <rosparam file="$(find youbot_camera)/cfg/global_costmap_params.yaml" command="load"/>
         <rosparam file="$(find youbot_camera)/cfg/global_planner_params.yaml" command="load"/>

         <param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
         <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
         <param name="local_costmap/global_frame"  value="$(arg odom_frame_id)"/>
         <param name="local_costmap/robot_base_frame"  value="$(arg base_frame_id)"/>
         <param name="DWAPlannerROS/global_frame_id"   value="$(arg odom_frame_id)"/>

         <remap from="odom"      to="$(arg odom_topic)"/>
   </node>

</launch>
